.Rproj.user
.Rhistory
.RData
.Ruserdata
A549_CV4_3-14-21-28_NA_combined_simple-null-w-lfdr.pdf
A549_CV4_3-14-21-28_NA_combined_simple-null-w-lfdr_f.txt
A549_CV4_3-14-21-28_NA_combined_simple-null-w-lfdr_fc.txt
A549_CV4_3-14-21-28_NA_combined_simple-null-w-lfdr_p.txt
A549_CV4_3-14-21-28_NA_combined_simple-null-w-lfdr_pi.txt
