/* prevent page breaks in code input cells */
@media print {
  div.code_cell .input {
    page-break-inside: avoid;
  }
}

/* allow page breaks in most cell types */
div.input {
  page-break-inside: auto;
}
div.output_area {
  page-break-inside: auto;
}
@media print {
  div.code_cell {
    page-break-inside: auto;
  }
  div.cell {
    page-break-inside: auto;
  } 
  div.output_wrapper { 
    page-break-inside: auto; 
  }
  div.output { 
    page-break-inside: auto; 
  }
  pre,
  blockquote {
    page-break-inside: auto;
  }
  a:* {
    color: #337ab7;
  }
}